* {
  margin: 1%
}

/* Nav Bar*/

ul {
    list-style-type: none;
    margin: 2.5%;
    padding: 0;
}

li {
  display: block;
  float: left;
}

/* Portfolio Structure*/

col-xs-1{
  border: 5%;
}

/* Lightbox */
.image {
  width: 200px;
  height: 200px;
  margin: 10px;
}


.image_lightbox {
  box-shadow:0 0 25px #111;
  -webkit-box-shadow:0 0 25px #111;
  -moz-box-shadow:0 0 25px #111;
  max-width:940px;
  position: absolute;
  z-index: 99;
}


/* Upload Box*/


.dropzone {
  width:500px;
  height:100px;
  border:1px solid #000;
  display: block;
  padding-bottom: 5%;
}
